body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ol {
    list-style-type: decimal;
    text-align: center;
}

li {
    font-size: 1.5em;
    color: white;
}